/*
	==================
		HOMEPAGE
    ==================
*/
	.main{
		padding: 0;
		.cover{
			background-size: cover;
			background-repeat: no-repeat;
			&.cover-bkg{
				height: 633px;
			}
		}
		.about{
			padding: 100px 0 90px;
			.about-container{
				.about-container-logo{
					img{
						width: 187px;
						height: 209px;
					}
				}
				.about-container-text{
					.about-full{
						transition: 0.25s;
						display: none;
						p{
							margin: 0;
							color: #575756;
							font-size: 16px;
							font-weight: 400;
							line-height: 25px;
						}
					}
					.about-resume{
						p{
							margin: 0;
							color: #575756;
							font-size: 16px;
							font-weight: 400;
							line-height: 25px;
						}
					}
				}
				.about-plus{
					a{
						color: #006a2f;
						font-size: 16px;
						text-decoration: none;
						&:hover, &:focus{
							outline: none;
							cursor: pointer;
						}
					}
				}
			}
		}

		.products{
			padding: 50px 0 40px;
			background-image: linear-gradient(to top, #005a28 0%, #006a2f 100%);
			background-color: #013c1b;
			.products-title{
				margin: 0 0 54px 0;
				h2{
					color: #ffffff;
					font-size: 40px;
					font-weight: 600;
					margin: 0;
					text-transform: uppercase;
				}
			}
			.products-container{
				.product-block{
					min-height: 205px;
					.product-block-img{
						margin: 0 auto;
						max-width: 221px;
						height: 151px;
						overflow: hidden;
						border-bottom-right-radius: 25px;
						border-top-left-radius: 25px;
						img{
							min-width: 100%;
							min-height: 100%;
							max-width: 100%;
						}
					}
					.product-block-name{
						max-width: 221px;
						margin: 0 auto;
						h3{
							margin: 0;
							width: 100%;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    white-space: nowrap;
							color: #b0c92b;
							font-size: 16px;
							font-weight: 700;
							line-height: 27px;
							text-transform: uppercase;
						}
					}
				}
			}
		}
		.associated{
			padding: 100px 0 75px 0;
			.associated-title{
				margin: 0 0 15px 0;
				h2{
					margin: 0;
					color: #006a2f;
					font-size: 40px;
					font-weight: 600;
					text-transform: uppercase;
				}
			}
			.associated-subtitle{
				margin: 0 0 55px 0;
				p{
					margin: 0;
					color: #575756;
					font-size: 17px;
					font-weight: 400;
				}
			}
			.associated-container{
				.associated-container-list{
					.nav{
						&.nav-tabs{
							margin: 0 0 30px 0;
							border-bottom: 0;
							li{
								float: initial;
								display: inline-block;
								&.active{
									a{
										background-color: #006a2f;
										color: #fff;
										&:hover, &:focus{
											outline: none;
											background-color: #006a2f;
											color: #fff;
											border: 1px solid #ddd;
											border-bottom-color: transparent;
										}
									}
								}
								a{
									text-transform: uppercase;
									color: #575756;
									&:hover, &:focus{
										outline: none;
										background-color: transparent;
										border: 1px solid #fff;
									}
								}
							}
						}
					} 
					.tab-content{
						.tab-pane{
							.list-associated{
								ul{
									padding: 0;
									margin: 0;
									.mantenedores-item{
										display: inline-block;
										.mantenedores-item--link{
										    display: inline-block;
										    width: 80px;
										    height: 80px;
										    position: relative;
										    &:hover{
										    	.mantenedores-overlay{
    												opacity: 0.3;
										    	}
										    	.mantenedores-info{
									    		    opacity: 1;
										    	}
										    }
										    .mantenedores-item-container-img{
										    	img{
										    		width: 100px;
										    		height: 58px;
									    		    position: absolute;
												    top: 0;
												    bottom: 0;
												    left: 0;
												    right: 0;
												    margin: auto;
										    	}
										    }
										    .mantenedores-overlay{
									    	    transition: all .4s;
											    opacity: 0;
											    display: block;
											    position: fixed;
											    width: 100%;
											    height: 100%;
											    top: 0;
											    left: 0;
											    z-index: 100;
											    background-color: #000;
											    pointer-events: none;
										    }
										    .mantenedores-info{
										    	transition: 0.2s;
									    	    position: absolute;
											    background: #fff;
											    min-height: 100px;
											    top: -10px;
											    width: 210px;
											    padding: 20px;
											    border: 1px solid #f2f2f2;
											    border-radius: 4px;
											    left: -68%;
											    z-index: 101;
											    opacity: 0;
											    visibility: visible;
											    .mantenedores-info--img{
											    	width: 100%;
										    		height: 58px;
										    		background-image: url(../images/icons/sementes-acampo.png);
										    		background-repeat: no-repeat;
										    		background-position: center;
											    }
											    .mantenedores-info--content{
											    	margin: 12px 0 0 0;
											    	p{
											    		margin: 0;
											    		font-size: 14px;
											    	}
											    }
										    }
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.movie{
			padding: 75px 0 90px 0;
			&.movie-cover{
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url(../images/backgrounds/bkg-videos.png);
			}
			.movie-container{
				.movie-container-title{
					margin: 0 0 20px 0;
					h2{
						margin: 0;
						color: #b0c92b;
						font-size: 40px;
						font-weight: 600;
						text-transform: uppercase;
					}
				}
				.movie-carousel{
					position: relative;
					border: 1px solid #b0c92b;
					max-width: 800px;
					height: 498px;
					margin: 0 auto;
					.owl-controls{
						.owl-nav{
							.owl-prev{
								margin: 0;
								padding: 0;
								background-color: transparent;
								top: 45%;
								left: -40px;
								position: absolute;
								.icon{
									display: inline-block;
									&::before{
										content: '';
										display: block;
									}
									&.icon-left{
										&::before{
											width: 31px;
											height: 62px;
											display: block;
											background-image: url(../images/icons/icon-left.png);
										}
									}
								}
							}
							.owl-next{
								margin: 0;
								top: 45%;
								padding: 0;
								background-color: transparent;
								right: -40px;
								position: absolute;
								.icon{
									display: inline-block;
									&::before{
										content: '';
										display: block;
									}
									&.icon-right{
										&::before{
											width: 31px;
											height: 62px;
											display: block;
											background-image: url(../images/icons/icon-right.png);
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.related{
			.row{
				margin: 0;
			}
			.related-container{
				height: 449px;
				padding: 0;
				.contact{
					padding: 0;
					background-color: #b0c92b;
					min-height: 100%;
					.contact-container{
						padding: 40px 0 0 0;
						min-width: 411px;
						margin: 0 120px 0 0;
						float: right;
						form{
							legend{
								line-height: normal;
								margin-bottom: 29px;
								color: #006a2f;
								font-size: 35px;
								font-family: Montserrat;
								font-weight: 600;
								text-transform: uppercase;
							}
							.form-group{
								margin-bottom: 11px;
								.form-control{
									color: #6d6d6d;
									font-family: "Open Sans";
									font-size: 13px;
									font-weight: 600;
									width: 100%;
									height: 41px;
									border-radius: 18px;
									background-color: #ffffff;
									&.text{
										height: 137px;
										padding: 12px 12px;
									}
								}
								.btn{
									&.btn-success{
										width: 157px;
										height: 36px;
										border-radius: 18px;
										background-color: #006a2f;
										font-family: Montserrat;
										color: #ffffff;
										font-size: 13px;
										font-weight: 700;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}
				.locate{
					padding: 0;
					background-color: #006a2f;
					min-height: 100%;
					.locate-container{
						padding: 40px 0 0 0;
						max-width: 345px;
						margin: 0 0 0 120px;
						float: left;
						.block-phone{
							margin: 0 0 20px 0;
							span{
								display: block;
								color: #b0c92b;
								font-family: Montserrat;
								font-size: 35px;
								font-weight: 600;
								text-transform: uppercase;
								&:first-child{
									font-size: 16px;
								}
							}
						}
						.block-locate{
							.block-locate-info{
								p{
									display: block;
									margin: 0;
									color: #ffffff;
									font-size: 16px;
									font-weight: 600;
									line-height: 25px;
								}
							}
						}
						.block-content{
							margin: 40px 0 0 0;
							img{
								margin: 0 20px 0 0;
								width: 87px;
								height: auto;
								display: inline-block;
								vertical-align: middle;
							}
							a{
								text-decoration: none;
								display: inline-block;
								vertical-align: middle;
								color: #ffffff;
								font-family: Montserrat;
								font-size: 16px;
								font-weight: 600;
								line-height: 19px;
								text-transform: uppercase;
								&:hover, &:focus{
									outline: none;
								}
							}
						}
					}
				}
			}
		}
	}








/*
	==================
		//HOMEPAGE
    ==================
*/