
/*
	==================
		FOOTER
    ==================
*/
	.footer{
		background-color: #fff;
		.footer-container{
			padding: 18px 0 15px;
			.footer-copyright{
				span{
					font-family: Montserrat;
					color: #575756;
					font-size: 14px;
					font-weight: 400;
					line-height: 62px;
				}
			}
			.footer-logo{
				width: 63px;
				height: auto;
			}
		}
	}
/*
	==================
		//FOOTER
    ==================
*/