/*
	==================
		  HEADER
    ==================
*/
	.header{
		padding: 0;
		&.header-scroll{
			top: 0;
			transition: 0.4s;
			width: 100%;
		    position: fixed;
    		z-index: 105;
    		.header-container{
    			box-shadow: 1px 2px 17px -3px rgba(0,0,0,.75);
    			.block-logo{
    				background-color: #fff;
    				h1{
    					a{
    						img{
    							height: auto;
    							width: 149px;
    							transition: 0.25s;
    						}
    					}
    				}
    			}
    			.block-list{
    				transition: 0.25s;
    				line-height: 70px;
    				.menu{
    					ul{
    						li{
    							a{
    								img{
    									transition: 0.25s;
    									width: 35px;
    									height: auto;
    								}
    							}
    						}
    					}
    				}
    			}
    		}
		}
		.header-container{
			&.row{
				margin: 0;
			}
			border-bottom: 0;
			.block-logo{
				padding: 14px 0 12px;
				h1{
					padding: 0 35px 0 0;
					margin: 0;
					a{
						img{
							width: 213px;
							height: 100px;
						}
						&:hover, &:focus{
							outline: none;
						}
					}
				}
			}
			.block-list{
				padding: 14px 0 12px;
				background-color: #006a2f;
				line-height: 100px;
				.menu{
					ul{
						margin: 0 0 0 65px;
						padding: 0;
						li{
							line-height: normal;
							margin: 0 35px 0 0;
							list-style-type: none;
							display: inline-block;
							a{
								position: relative;
								text-decoration: none;
								color: #ffffff;
								font-size: 15px;
								font-weight: 600;
								text-transform: uppercase;
								img{
									margin: 0 8px 0 0;
									display: inline-block;
									vertical-align: middle;
								}
								span{
									line-height: normal;
									text-align: left;
									max-width: 71px;
									display: inline-block;
									vertical-align: middle;
								}
								&::after{
								    content: "";
								    position: absolute;
								    width: 0;
								    height: 3px;
								    background-color: #b0c92b;
								    top: 22px;
								    left: 0;
								    right: 0;
								    margin-left: auto;
								    margin-right: auto;
								    transition: .25s;
								}
								&:hover{
									&::after{
									    content: "";
									    width: 100%;
										outline: none;
									}
								}
							}
							&:last-child{
								margin: 0;
								a{
									&:hover{
										&::after{
										    content: "";
										    width: 0;
										}
									}
									span{
										color: #b0c92b;
									}
								}
							}
							&.active{
								a{
									&::after{
									    content: "";
									    width: 100%;
										outline: none;
									}
								}
							}
						}
					}	
				}
			}
		}
	}

/*
	==================
		 //HEADER
    ==================
*/