/*
	===================
		PRODUTOS
	===================

*/

	







/*
	===================
	   //PRODUTOS
	===================

*/


/*
	===================
	   SINGLE PRODUTOS
	===================
*/
	.single-product{
		padding: 60px 0 0 0;
		background-color: #f3f3f3;
		.single-product-container{
			.block-title{
				padding: 0 0 10px 0;
				border-bottom: 1px solid #7e8e2f;
				h2{
					margin: 0;
					color: #006a2f;
					font-size: 20px;
					font-weight: 500;
					line-height: normal;
					text-transform: uppercase;
				}
			}
			.block-content{
				margin: 29px 0 80px 0;
				p{
					color: #575756;
					margin: 0;
					font-size: 15px;
					font-weight: 400;
					line-height: 24px;
				}
			}
			.product{
				padding: 60px 0 80px;
				.product-container{
					.block-left{
						padding: 0;
						.product-title{
							h3{
								margin: 0;
								color: #006a2f;
								font-size: 45px;
								font-weight: 700;
								text-transform: uppercase;
							}
						}
						.product-descript{
							margin: 0 0 65px 0;
							span{
								color: #b0c92b;
								font-family: "Open Sans";
								font-size: 23px;
								font-weight: 700;
							}
						}
						.product-esp{
							.product-esp-list{
								ul{
									margin: 0;
									padding: 0;
									li{
										margin: 0 0 20px 0;
										display: block;
										list-style-type: none;
										img{
											margin: 0 10px 0 0;
										}
										span{
											
											color: #575756;
											font-family: "Open Sans";
											font-size: 18px;
											font-weight: 400;
											line-height: 25px;
										}
									}
								}
							}
						}
					}
					.block-right{
						.block-right-container{
							max-width: 460px;
							margin: 0 auto;
							.product-image{
								border-top-left-radius: 50px;
								border-bottom-right-radius: 50px;
								width: 100%;
								height: 314px;
								overflow: hidden;
								img{
									min-width: 100%;
									min-height: 100%;
									max-width: 100%;
								}
							}
							.product-block{
								margin: 10px 0 0 0;
								.product-cat-down{
									margin: 20px 0 0 0;
									a{
										text-decoration: none;
										padding: 12px 25px 13px;
										display: inline-block;
										border-radius: 20px;
										background-color: #006a2f;
										color: #ffffff;
										font-family: Montserrat;
										font-size: 15px;
										font-weight: 700;
										text-transform: uppercase;
										&:hover, &:focus{
											outline: none;
										}
									}
								}
								.product-aprovate-list{
									ul{
										margin: 0;
										padding: 0;
										li{
											list-style-type: none;
											display: inline-block;
											margin: 0 9px 0 0;
											&:last-child{
												margin: 0;
											}
											img{
												width: 80px;
												height: auto;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.single-product-carousel{
			padding: 35px 0 45px 0;
			background-color: #006a2f;
			.others-produtcts-title{
				margin: 0 0 35px 0;
				h2{
					margin: 0;
					color: #f3f3f3;
					font-family: Montserrat;
					font-size: 27px;
					font-weight: 700;
					line-height: normal;
					text-transform: uppercase;
				}
			}
			.others-produtcts-carousel{
				position: relative;
				.item{
					.item-img{
						border-top-left-radius: 30px;
						border-bottom-right-radius: 30px;
						margin: 0 auto;
						max-width: 221px;
						height: 151px;
						overflow: hidden;
						img{
							min-width: 100%;
							min-height: 100%;
							max-width: 100%;
						}
					}
					.item-text{
						margin: 0 auto;
						max-width: 221px;
						h3{
							margin: 15px 0 0 0;
							overflow: hidden;
							width: 100%;
							white-space: nowrap;
						    text-overflow: ellipsis;
							color: #b0c92b;
							font-family: Montserrat;
							font-size: 16px;
							font-weight: 700;
							line-height: normal;
							text-transform: uppercase;
						}
					}
				}
				.owl-controls{
					.owl-nav{
						.owl-prev{
							background-color: #b0c92b;
							left: 0;
							top: 35%;
							border-radius: 50%;
							line-height: 28px;
							margin: 0;
							width: 37px;
							padding: 5px 13px;
							height: 37px;
							position: absolute;
							i{
								font-size: 20px;
								color: #fff;
							}
						}
						.owl-next{
							right: 0;
							top: 35%;
							background-color: #b0c92b;
							border-radius: 50%;
							margin: 0;
		    				padding: 5px 15px;
		    				line-height: 28px;
							width: 37px;
							height: 37px;
							position: absolute;
							i{
								font-size: 20px;
								color: #fff;
							}
						}
					}
				}
			}
		}

	}

/*
	===================
	  //SINGLE PRODUTOS
	===================

*/
