/*
######################################
	RESPONSIVE XS
######################################
*/
	//Mobile Geral
	@media only screen and(min-width: 320px) and (max-width: 414px){

	}
	//Mobile Portrait (Modo retrado)
	@media only screen and(min-width: 320px) and(max-width: 480px){
		/*
			==================
				  HEADER
		    ==================
		*/
			.header{
				padding: 0;
				&.header-scroll{
					.header-container{
						.block-logo{
							h1{
								a{
									img{
										width: 120px;
									}
								}
							}
						}
						.block-list{
							line-height: 90px;
						}
					}
				}
				.header-container{
					box-shadow: 0 1px 2px rgba(0,0,0,.2);
					.block-logo{
						height: 82px;
						h1{
							padding: 0 15px;
							a{
								display: grid;
								img{
									width: 120px;
									height: auto;
								}
							}
						}
					}
					.block-list{
						height: 82px;
						padding: 0;
						background-color: #fff;
						.icon-menu{
							position: relative;
							i{
								padding: 15px;
								font-weight: 600;
								font-size: 22px;
								color: #006a2f;
							}
						}
						.menu-responsive{
							&.open{
								right: 0;
							}
							.close-menu{
								line-height: normal;
								i{
									line-height: 82px;
									font-size: 22px;
									color: #fff;
								}
							}
							transition: 0.25s;
							padding: 0 15px;
							box-shadow: -2px 2px 10px -1px rgba(0,0,0,.75);
							position: fixed;
							height: 100%;
							width: 185px;
							right: -100%;
							z-index: 2;
							top: 0;
							background-color: #006a2f;
							ul{
								margin: 0;
								li{
									display: block;
									margin: 0 0 13px;
									a{
										font-size: 16px;
									}
									&:last-child{
										margin: 40px 0 0;
									}
								}
							}
						}
					}
				}
			}
		/*
			==================
				//HEADER
		    ==================
		*/

		/*
			==================
				HOMEPAGE
		    ==================
		*/
			.main{
				/*
					==================
						BANNER
				    ==================
				*/
				.cover{
					&.cover-bkg{
						height: 395px;
					}
				}
				/*
					==================
						//BANNER
				    ==================
				*/

				/*
					==================
					    SOBRE NÓS
				    ==================
				*/
					.about{
						padding: 40px 0;
						.about-container{
							.about-container-logo{
								margin: 0 0 20px 0;
								img{
									width: 135px;
									height: auto;
								}
							}
							.about-container-text{
								padding: 0;
								text-align: center;
								.about-plus{
									margin: 15px 0 0 0;
									a{
										text-decoration: underline;
									}
								}
							}
						}
					}


				/*
					==================
					   //SOBRE NÓS
				    ==================
				*/


				/*
					==================
					    PRODUTOS
				    ==================
				*/
					.products{
						padding: 40px 0 20px 0;
						.products-title{
							margin: 0 0 20px 0;
							h2{
								font-size: 24px;
							}
						}
						.products-container{
							padding: 0;
							.product-block{
								margin: 0 0 20px 0;
								min-height: auto;
							}
						}
					}

				/*
					==================
					   //PRODUTOS
				    ==================
				*/

				/*
					==================
					   ASSOCIADOS
				    ==================
				*/
					.associated{
						padding: 40px 0;
						.associated-title{
							margin: 0 0 10px 0;
							h2{
								font-size: 24px;
							}
						}
						.associated-subtitle{
							margin: 0 0 20px 0;
							p{
								font-size: 16px;
							}
						}
						.associated-container{
							.associated-container-list{
								.nav{
									&.nav-tabs{
										margin: 0 0 20px 0;	
									}
								} 
								.tab-content{
									.tab-pane{
										.list-associated{
											ul{
												.mantenedores-item{
													.mantenedores-item--link{
														.mantenedores-info{
															max-height: initial;
														    padding: 15px 10px;
														    left: -26%;
														    width: 150px;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}

				/*
					==================
					   //ASSOCIADOS
				    ==================
				*/
				/*
					==================
					      VIDEOS
				    ==================
				*/
					.movie{ 
						&.movie-cover{
							padding: 40px 0;
							.movie-container{
								.movie-container-title{
									h2{
										font-size: 24px;
									}
								}
								.movie-carousel{
									max-width: 230px;
									height: auto;
									.item{
										.item-movie{
											iframe{
												height: auto;
											}
										}
									}
									.owl-controls{
										.owl-nav{
											.owl-prev{
												top: 35%;
												left: -37px;
											}
											.owl-next{
												top: 35%;
												right: -37px;
											}
										}
									}
								}
							}
						}
					}
				/*
					==================
					     //VIDEOS
				    ==================
				*/

				/*
					==================
					    RELATED
				    ==================
				*/
					.related{
						.related-container{
							height: auto;
							/*
								==================
								    CONTATO
							    ==================
							*/
								.contact{
									.contact-container{
										max-width: 411px;
										margin: 0 auto;
										min-width: initial;
										float: initial;
										padding: 40px 0 25px;
										form{
											padding: 0 15px;
											legend{
												font-size: 24px;
												text-align: center;
												margin-bottom: 20px;
											}
											.form-group{
												input{
													height: 38px;
												}
											}
											.form-group{
												.form-control{
													&.text{
														height: 95px;
													}

												} 
												.btn{
													&.btn-success{
														width: 140px;
													}
												}
											}
										}
									}
								}

							/*
								==================
								   //CONTATO
							    ==================
							*/

							/*
								==================
								     LOCAL
							    ==================
							*/
								.locate{
									.locate-container{
										float: initial;
										margin: 0 auto;
										padding: 40px 15px;
										.block-phone{
											span{
												font-size: 24px;
											}
										}
										.block-content{
											margin: 20px 0 0 0;
											img{
												width: 70px;
												margin: 0 15px 0 0;
											}
										}
									}
								}

							/*
								==================
								    //LOCAL
							    ==================
							*/
						}
					}

				/*
					==================
					    //RELATED
				    ==================
				*/

			}

		/*
			==================
				//HOMEPAGE
		    ==================
		*/

		/*
			==================
				  FOOTER
		    ==================
		*/
			.footer{
				.footer-container{
					.footer-copyright{
						margin: 0 0 10px 0;
						padding: 0;
						text-align: center;
						span{
							line-height: normal;
						}
					}
					.footer-logo{
						text-align: center;
						width: initial;
						&.pull-right{
							float: initial !important;
						}
					}
				}
			}

		/*
			==================
				//FOOTER
		    ==================
		*/

		/*
			=====================
				SINGLE PRODUTO
		    =====================
		*/
			.single-product{
				padding: 40px 0 0 0;
				.single-product-container{
					.block-title{
						padding: 0 0 5px 0;
						h2{
							font-size: 24px;
						}
					}
					.block-content{
						margin: 25px 0 40px;
					}
					.product {
						padding: 25px 0 45px;
						.product-container{
							.block-left{
								.product-title{
									h3{
										font-size: 30px;
									}
								}
								.product-descript{
									margin: 0 0 25px;
									span{
										font-size: 20px;
									}
								}
								.product-esp{
									.product-esp-list{
										ul{
											li{
												margin: 0 0 15px 0;
												img{
													margin: 0 6px 0 0;
													width: 22px;
													height: auto;
												}
												span{
													font-size: 16px;
												}
												&:last-child{
													margin: 0 0 25px 0;
												}
											}
										}
									}
								}
							}
							.block-right{
								padding: 0;
								.block-right-container{
									.product-image{
										height: 245px;
									    border-bottom-right-radius: 25px;
									    border-top-left-radius: 25px;
									}
									.product-block{
										margin: 20px 0 0 0;
										.product-cat-down{
											margin: 0 0 15px 0;
											&.pull-left{
												float: initial !important;
											}
											text-align: center;
										}
										.product-aprovate-list{
											text-align: center;
											&.pull-right{
												float: initial !important;
											}
											ul{
												li{
													img{
														width: 65px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.single-product-carousel{
					padding: 40px 0;
					.others-produtcts-title{
						h2{
							font-size: 24px;
						}
					}
					.others-produtcts-carousel{
						.owl-controls{
							.owl-nav{
								.owl-prev{
									left: -9px;
								}
								.owl-next{
									right: -9px;
								}
							}
						}
					}
				}
			}
		/*
			=====================
			   //SINGLE PRODUTO
		    =====================
		*/

	}
	//Mobile Landscape (Modo paisagem)
	@media only screen and(min-width: 480px) and (max-width: 920px) and (orientation: landscape){
	}



	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: portrait){
		/*
			==================
				  HEADER
		    ==================
		*/
			.header{
				padding: 0;
				&.header-scroll{
					.header-container{
						.block-logo{
							h1{
								a{
									img{
										width: 120px;
									}
								}
							}
						}
						.block-list{
							line-height: 90px;
						}
					}
				}
				.header-container{
					box-shadow: 0 1px 2px rgba(0,0,0,.2);
					.block-logo{
						height: 105px;
						h1{
							padding: 0 15px;
							a{
								display: grid;
								img{
									width: 165px;
									height: auto;
								}
							}
						}
					}
					.block-list{
						height: 105px;
						padding: 0;
						background-color: #fff;
						.icon-menu{
							line-height: normal;
							position: relative;
							i{
								line-height: 76px;
								padding: 15px;
								font-weight: 600;
								font-size: 32px;
								color: #006a2f;
							}
						}
						.menu-responsive{
							&.open{
								right: 0;
							}
							.close-menu{
								line-height: normal;
								i{
									line-height: 82px;
									font-size: 32px;
									color: #fff;
								}
							}
							transition: 0.25s;
							padding: 0 15px;
							box-shadow: -2px 2px 10px -1px rgba(0,0,0,.75);
							position: fixed;
							height: 100%;
							width: 230px;
							right: -100%;
							z-index: 2;
							top: 0;
							background-color: #006a2f;
							ul{
								margin: 0;
								li{
									display: block;
									margin: 0 0 13px;
									a{
										font-size: 16px;
									}
									&:last-child{
										margin: 40px 0 0;
									}
								}
							}
						}
					}
				}
			}
		/*
			==================
				//HEADER
		    ==================
		*/


		/*
			==================
				HOMEPAGE
		    ==================
		*/
			.main{
				/*
					==================
						COVER
				    ==================
				*/		
					.cover{ 
						&.cover-bkg{
							height: 250px;
						}
					}
				/*
					==================
						//COVER
				    ==================
				*/

				/*
					==================
						SOBRE NÓS
				    ==================
				*/
					.about{
						padding: 40px 0;
						.about-container{
							.about-container-logo{
								img{
									width: 130px;
									height: auto;
								}
								&.col-xs-12{
									width: 30%;
								}
							}
							.about-container-text{
								&.col-xs-12{
									width: 70%;
								}
							}
						}
					}
				/*
					==================
					   //SOBRE NÓS
				    ==================
				*/

				/*
					==================
					   PRODUTOS
				    ==================
				*/
					.products{
						padding: 40px 0 0 0;
						.products-title{
							margin: 0 0 30px 0;
						}
						.products-container{
							.product-block{
								&.col-xs-12{
									width: 33.33333333%;
								}
								.product-block-img{
									height: 134px;
								}
							}
						}
					}
				/*
					==================
					   //PRODUTOS
				    ==================
				*/

				/*
					==================
					    ASSOCIADOS
				    ==================
				*/	
					.associated{
						padding: 40px 0;
						.associated-subtitle{
							margin: 0 0 30px 0;
						}
					}
				/*
					==================
					   //ASSOCIADOS
				    ==================
				*/

				/*
					==================
					      VIDEOS
				    ==================
				*/
					.movie{
						padding: 40px 0;
						.movie-container{
							.movie-carousel{
								max-width: 500px;
							}
						}
					}
				/*
					==================
					     //VIDEOS
				    ==================
				*/
				/*
					==================
					    RELATED
				    ==================
				*/
					.related{
						.related-container{
							height: initial;
							.contact {
								min-height: initial;
								.contact-container{
									margin: 0 auto;
									min-width: initial;
									float: initial;
							    	padding: 40px 0;
    								max-width: 500px;
								}
							}
							.locate {
								min-height: initial;
								.locate-container{
									float: initial;
									margin: 0 auto;
								    padding: 40px 0;
   									max-width: 500px;
								}
							}
						}
					}
				/*
					==================
					    //RELATED
				    ==================
				*/

			}
		/*
			==================
				//HOMEPAGE
		    ==================
		*/

		/*
			==================
				FOOTER
		    ==================
		*/
			.footer{
				.footer-container{
					.footer-copyright {
						&.col-xs-12{
							width: 70%;
						}
						span{
							line-height: normal;
						}
					}
					.footer-logo{
						&.col-xs-12{
							width: 30%;
						}
					}
				}
			}
		/*
			==================
				//FOOTER
		    ==================
		*/
	}
	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: landscape){
		/*
			==================
				  HEADER
		    ==================
		*/
			.header{
				padding: 0;
				&.header-scroll{
					.header-container{
						.block-logo{
							h1{
								a{
									img{
										width: 120px;
									}
								}
							}
						}
						.block-list{
							line-height: 90px;
						}
					}
				}
				.header-container{
					box-shadow: 0 1px 2px rgba(0,0,0,.2);
					.block-logo{
						height: 105px;
						h1{
							padding: 0 15px;
							a{
								display: grid;
								img{
									width: 165px;
									height: auto;
								}
							}
						}
					}
					.block-list{
						height: 105px;
						padding: 0;
						background-color: #fff;
						.icon-menu{
							line-height: normal;
							position: relative;
							i{
								line-height: 76px;
								padding: 15px;
								font-weight: 600;
								font-size: 32px;
								color: #006a2f;
							}
						}
						.menu-responsive{
							&.open{
								right: 0;
							}
							.close-menu{
								line-height: normal;
								i{
									line-height: 82px;
									font-size: 32px;
									color: #fff;
								}
							}
							transition: 0.25s;
							padding: 0 15px;
							box-shadow: -2px 2px 10px -1px rgba(0,0,0,.75);
							position: fixed;
							height: 100%;
							width: 230px;
							right: -100%;
							z-index: 2;
							top: 0;
							background-color: #006a2f;
							ul{
								margin: 0;
								li{
									display: block;
									margin: 0 0 13px;
									a{
										font-size: 16px;
									}
									&:last-child{
										margin: 40px 0 0;
									}
								}
							}
						}
					}
				}
			}
		/*
			==================
				//HEADER
		    ==================
		*/


		/*
			==================
				SINGLE 
		    ==================
		*/
			.single-product{
				.single-product-container{
					.product {
						.product-container{
							.block-right{
								.block-right-container{
									.product-block{
										.product-cat-down{
											margin: 10px 0 0 0;
											a{
												padding: 12px;
											}
										}
										.product-aprovate-list{
											ul{
												li{
													img{
														width: 65px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.single-product-carousel{
					.others-produtcts-carousel{
						.owl-controls{
							.owl-nav{
								.owl-prev{
									left: -45px;

								}
								.owl-next{
									right: -45px;
								}
							}
						}
					}
				}
			}

		/*
			==================
				//SINGLE 
		    ==================
		*/

	}
/*
######################################
	//RESPONSIVE XS
######################################
*/