/*
######################################
	RESPONSIVE SM
######################################
*/	

	//Tablet Geral
	@media only screen and(min-width: 700px) and (max-width: 1024px) and (orientation: portrait){
		/*
			==================
				  HEADER
		    ==================
		*/
			.header{
				padding: 0;
				.header-container{
					box-shadow: 0 1px 2px rgba(0,0,0,.2);
					.block-logo{
						height: 120px;
						h1{
							padding: 0 15px;
							a{
								display: grid;
								img{
									width: 200px;
									height: auto;
								}
							}
						}
					}
					.block-list{
						height: 120px;
						padding: 0;
						background-color: #fff;
						.icon-menu{
							position: relative;
							i{
								line-height: 100px;
								padding: 15px;
								font-weight: 600;
								font-size: 32px;
								color: #006a2f;
							}
						}
						.menu-responsive{
							&.open{
								right: 0;
							}
							.close-menu{
								line-height: normal;
								i{
									line-height: 135px;
									font-size: 32px;
									color: #fff;
								}
							}
							transition: 0.25s;
							padding: 0 15px;
							box-shadow: -2px 2px 10px -1px rgba(0,0,0,.75);
							position: fixed;
							height: 100%;
							width: 215px;
							right: -100%;
							z-index: 2;
							top: 0;
							background-color: #006a2f;
							ul{
								margin: 0;
								li{
									display: block;
									margin: 0 0 13px;
									a{
										font-size: 16px;
									}
									&:last-child{
										margin: 40px 0 0;
									}
								}
							}
						}
					}
				}
			}
		/*
			==================
				//HEADER
		    ==================
		*/

		/*
			==================
				HOMEPAGE
		    ==================
		*/
			.main{
				/*
					==================
						COVER
				    ==================
				*/
					.cover{
						&.cover-bkg{
							height: 335px;
						}
					}
				/*
					==================
						//COVER
				    ==================
				*/
				/*
					==================
					      VIDEOS
				    ==================
				*/
					.movie{ 
						&.movie-cover{
							padding: 40px 0;
							.movie-container{
								.movie-carousel{
									max-width: 600px;
									height: auto;
									.item{
										.item-movie{
											iframe{
												height: 450px;
											}
										}
									}
									.owl-controls{
										.owl-nav{
											.owl-prev{
												top: 46%;
												left: -40px;
											}
											.owl-next{
												top: 46%;
												right: -40px;
											}
										}
									}
								}
							}
						}
					}
				/*
					==================
					     //VIDEOS
				    ==================
				*/

				/*
					==================
					    SOBRE NÓS
				    ==================
				*/
					.about{
						padding: 40px 0;
						.about-container{
							.about-container-logo {
								margin: 0 0 20px 0;
							}
						}
					}
				/*
					==================
					   //SOBRE NÓS
				    ==================
				*/

				/*
					==================
					    PRODUTOS
				    ==================
				*/
					.products{
						padding: 40px 0 30px 0;
						.products-title{
							margin: 0 0 30px 0;
						}
					}
				/*
					==================
					   //PRODUTOS
				    ==================
				*/

				/*
					==================
					   ASSOCIADOS
				    ==================
				*/
					.associated{
						padding: 40px 0;
					}
				/*
					==================
					   ASSOCIADOS
				    ==================
				*/

				/*
					==================
					    RELATED
				    ==================
				*/	
					.related{
						.related-container{
							height: initial;
							.contact {
								min-height: auto;
								.contact-container{
									padding: 40px 0;
									max-width: 575px;
									form{
										legend{
											margin-bottom: 20px;
										}
									}
								}
							}
							.locate {
								min-height: auto;
								.locate-container{
									max-width: 575px;
									padding: 40px 0;
								}
							}
						}
					}

				/*
					==================
					    //RELATED
				    ==================
				*/
			}
		/*
			==================
			    //HOMEPAGE
		    ==================
		*/


		/*
			==================
			  SINGLE PRODUTO
		    ==================
		*/
			.single-product{
				.single-product-container{
					.product {
						padding: 40px 0;
						.product-container{
							.block-left{
								.product-title{
									h3{
										font-size: 32px;
									}
								}
								.product-descript{
									margin: 0 0 25px 0;
								}
							}
							.block-right{
								.block-right-container{
									.product-image{
										height: auto;
									}
									.product-block{
										.product-cat-down{
											margin: 10px 0 0 0;
											a{
												padding: 12px 15px 12px;
											}
										}
										.product-aprovate-list {
											ul{
												li{
													img{
														width: 60px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		/*
			==================
			 //SINGLE PRODUTO
		    ==================
		*/

	}


	@media only screen and(min-width: 800px) and (max-width: 1024px) and (orientation: landscape){
		/*
			=====================
			      HEADER
		    =====================
		*/
			.header{
				.header-container{
					.block-logo{
						h1{
							padding: 0 75px 0 0;
							a{
								img{
									width: 180px;
									height: auto;
								}
							}
						}
					}
					.block-list{
						.menu {
							ul{
								margin: 0 0 0 40px;
								li{
									margin: 0 18px 0 0;
								}
							}
						}
					}
				}
			}

		/*
			=====================
			    //HEADER
		    =====================
		*/

		/*
			==================
				HOMEPAGE
		    ==================
		*/
			.main{
				/*
					==================
						COVER
				    ==================
				*/
					.cover{
						&.cover-bkg{
							height: 435px;
						}
					}
				/*
					==================
						//COVER
				    ==================
				*/
				/*
					==================
						RELATED
				    ==================
				*/
					.related{
						.related-container{
							height: initial;
							.contact {
								.contact-container{
									margin: 0 auto;
									float: initial;
									max-width: 570px;
									padding: 40px 0;
								}
							}
							.locate {
								.locate-container{
									margin: 0 auto;
									float: initial;
									max-width: 570px;
									padding: 40px 0;
								}
							}
						}
					}
				/*
					==================
						//RELATED
				    ==================
				*/

			}

		/*
			==================
				HOMEPAGE
		    ==================
		*/
	}

	

/*
######################################
	//RESPONSIVE SM
######################################
*/