/*
######################################
	RESPONSIVE MD
######################################
*/
	//Notebook Geral
	@media only screen and(min-width: 1024px) and (max-width: 1440px){
		

	}
	//Notebook 16'
	@media only screen and(min-width: 1280px) and (max-width: 1440px){

	}
	//Notebook 14'
	@media only screen and(min-width: 1024px) and (max-width: 1280px){

	}

	@media only screen  and (min-width : 1824px) {
		.header{
			.header-container{
				.block-logo{
					&.col-lg-4{
						width: 41.66666667% !important;
					}
				}
				.block-list{
					&.col-lg-8{
						width: 58.33333333% !important;
					}
					.menu {
						ul{
							margin: 0 0 0 200px;
						}
					}
				}
			}
		}
	}
/*
######################################
	//RESPONSIVE MD
######################################
*/